/* Variables */
:root {
    --primary: #CBF3F0;
    --text-primary: #0025A1;
    --secondary: #2EC4B6;
    --text-secondary: #ECECEC;
    --accent: #FF9F1C;
    --text-accent: #2A1E0B;
    --max-width: 46rem;
    --breakpoint: 36rem;
}

/* Font load */
@font-face {
    font-family: 'Mulish';
    src: url('../font/mulish-latin-400-normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: url('../font/mulish-latin-400-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Mulish';
    src: url('../font/mulish-latin-700-normal.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: url('../font/mulish-latin-700-italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* Setting default styles */
body {
    background-color: var(--primary);
    font-family: 'Mulish';
    color: var(--text-primary);
}